network:
  version: 2
  ethernets:
    eth0:
      dhcp4: true
      match:
        macaddress: {{ ansible_eth0["macaddress"] }}
      mtu: 1500
      set-name: eth0
    eth1:
      dhcp4: no
      addresses:
        - {{ ansible_eth1.ipv4.address }}/24
      match:
        macaddress: {{ ansible_eth1["macaddress"] }}
      mtu: 1442
      nameservers:
        addresses:
          - 8.8.8.8
          - 1.1.1.1
        search: []
      set-name: eth1
