127.0.1.1 gateway-bukhara.novalocal gateway-bukhara
127.0.0.1 localhost

# The following lines are desirable for IPv6 capable hosts
::1 localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters

{{ master1_ip }} master1
{{ master2_ip }} master2
{{ master3_ip }} master3
{{ worker1_ip }} worker1
{{ worker2_ip }} worker2
{{ worker3_ip }} worker3
{{ haproxy_ip }} haproxy